  
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/products">Товари</a></li>
        <li><a href="/products/create">Додати товар</a></li>
        </ul>
    </div>
  </nav>
  </div>