<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>E-shop</title>
</head>
<body>

    {{>menu}}
    <main class="main">
<div class="row">
<div class="col s12 m4 l3"> 
  
  <div class="card-panel">
      <div class="container col s12">
        Сортувати за зростанням
      </div>
  <div class="switch">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>   
  </div>

<div class="card-panel">
<a class="waves-effect waves-light btn">Розрахувати</a>
</div>

  <div class="card-panel">
      <div class="row">
    <div class="input-field col s9">
      <input id="search" type="text" class="validate">
      <label class="active" for="search">Пошук товару по назві</label>
    </div>
  </div>
  </div>

</div>
<div class="col s12 m8 l9"> 
{{{body}}}
</div>
</div>
</main>
    {{>footer}}

</body>
</html>