<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="/products/create">Add product</a>
    <h1>List of products</h1>
    <table>
        <tr><th>Name</th><th>Volume</th><th>Material</th><th>Price</th></tr>
        {{#each products}}
            <tr><td>{{this.name}}</td><td>{{this.volume}}</td><td>{{this.material}}</td><td>{{this.price}}</td></tr>
            {{/each}}
    </table>


</body>
</html>